<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Alumnos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <!--
        El modulo actual tiene que tener:

        Actividades:
            Inscripcion de alumnos
            Expediente de alumnos
                Datos personales
                Historial academico
                Documentos oficiales
            Seguimiento de desempeño y reportes
    -->
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- sidebar -->
            <div class="col-lg-2">
                <div class="sidebar">
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="index.html">
                            <i class="bi bi-speedometer2"></i> Dashboard
                        </a>
                        <a class="nav-link" href="expediente.html">
                            <i class="bi bi-speedometer2"></i> Expediente de Alumnos
                        </a>
                        <a class="nav-link" href="seguimiento.html">
                            <i class="bi bi-speedometer2"></i> Seguimiento de Desempeño
                        </a>
                        
                    </nav>
                </div>
            </div>
            <!-- main content -->
            <p>
                Alumno
            </p>
        </div>
    </div>
</body>
</html>